*.nes
runtime/fceux/fcs/
runtime/fceux/sav/
runtime/fceux/snaps/
runtime/fceux/*.cfg
runtime/fceux/*.ini
runtime/fceux-win64/fceux.cfg
runtime/fceux-win64/fcs/
runtime/fceux-win64/sav/
runtime/fceux-win64/snaps/
runtime/*.zip
diagnostics/
tests/*.fc0
__pycache__/
saves/
controls.ini
Indiana-Coop.exe
engine/**/*.o
engine/*.dll
tests/*.state
*.ijstate
tests/*.fc1
tests/*.luasav
runtime/fceux/
runtime/fceux-win64/
*.lnk
*.bin
*.zip
*.bak
*.log
